/*General Colors*/

body {
    color: #999;
    background-color: #edecea;
}

h1 {
    color: #373737;
}

h2 {
    color: #373737;
}

h3 {
    color: #373737;
}

h4 {
    color: #373737;
}

a {
    color: #fff;
}

.header {
    background-color: #373737;
}

.main {
    background-color: #edecea;
}

.footer {
    background-color: #373737;
}

.footer h4 {
    color: #fff;
}

.footer p {
    color: #999;
}

.footer-bottom {
    background-color: #1e1f1f;
    color: #fff;
}

.contentbox {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox li {
    color: #373737;
}

.contentbox-beige {
    background-color: #f9f8f8;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox-turquoise {
    background-color: #5adae2;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox>img {
    float: left;
    margin-right: 15px;
}

.tile {
    background-color: #5adae2;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.blog-tease {
    color: #fff;
}

.blog-tease h2 {
    color: #fff;
}


/* Box sizing */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.row {
    overflow: hidden;
}

.one-whole {
    width: 940px;
}

.three-quarters {
    width: 700px;
}

.one-half {
    width: 460px;
}

.two-thirds {
    width: 620px;
}

.one-third {
    width: 300px;
}

.one-sixth {
    width: 140px;
}

.one-quarter {
    width: 220px;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

nav ul li {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.img-responsive {
    max-width: 100%
}


/*header css*/

.brand {
    padding-top: 45px;
    padding-bottom: 45px;
}

.nav {
    padding-top: 60px;
}

.pull-right {
    float: right;
}


/*footer Css*/

.social {
    text-align: center;
}


/*Main Content Css*/

.page-header {
    padding-top: 30px;
    margin-bottom: 50px;
    background-color: #5adae2;
    color: #fff;
}

.page-header p {
    padding-left: 15px;
}


/*home page css*/

.page-header.home {
    margin-bottom: 0;
}

.message {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #4cd2da;
}

.message {
    color: #fff;
}

.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-content-bottom {
    padding-bottom: 75px;
}

.blog-tease {
    height: 210px;
}


/*About Page Css*/

.team h1 {
    margin-bottom: 40px;
}

.team-member {
    margin-bottom: 20px;
}


/*Portfolio Page Css*/

.portfolio-item {
    margin-bottom: 10px;
}

.portfolio-title {
    display: none;
    /*hide portfolio image text */
}


/*blog page Css*/

.info li {
    display: inline-block;
}

.sidebar {
    padding: 10px;
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}


/*Contact Page Css*/

.table,
.form p,
.map h2 {
    margin-left: 15px;
}